<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeropoint.homemaking.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.zeropoint.homemaking.domain.Admin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByIds" parameterType="java.util.Arrays">
    delete from admin
    where id in
    <foreach collection="array" close=")" open="(" separator="," item="item" index="index">
      #{item}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.zeropoint.homemaking.domain.Admin">
    insert into admin (id, name, password,
      role, phone, register_time,
      status)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{role,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{registerTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zeropoint.homemaking.domain.Admin">
    update admin
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      role = #{role,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, password, role, phone, register_time, status
    from admin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, password, role, phone, register_time, status
    from admin
  </select>
  <select id="selectByCondition" parameterType="Map" resultMap="BaseResultMap">
    select * from admin
    <where>
      <if test="name != null and name != ''">
        name = #{name,jdbcType=VARCHAR}

      </if>
      <if test="role != null and role != '' ">
        and
        role = #{role}

      </if>
      <if test="startTime != null and startTime != '' and endTime != '' and endTime != null">
        and
        register_time between #{startTime} and #{endTime}
      </if>

    </where>
  </select>
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from admin
    where name = #{name,jdbcType=VARCHAR}
  </select>
</mapper>