<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeropoint.homemaking.DAO.AdminMapper">
  <resultMap id="BaseResultMap" type="com.zeropoint.homemaking.Entitys.Admin">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sionsid" jdbcType="INTEGER" property="sionsid" />
  </resultMap>
  <insert id="insert" parameterType="com.zeropoint.homemaking.Entitys.Admin">
    insert into admin (id, name, password, 
      sionsid)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{sionsid,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, password, sionsid
    from admin
  </select>
</mapper>