<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeropoint.homemaking.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.zeropoint.homemaking.domain.Article">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="views" jdbcType="INTEGER" property="views" />
    <result column="cover_img1" jdbcType="VARCHAR" property="coverImg1" />
    <result column="cover_img2" jdbcType="VARCHAR" property="coverImg2" />
    <result column="cover_img3" jdbcType="VARCHAR" property="coverImg3" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zeropoint.homemaking.domain.Article">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT last_insert_id()
    </selectKey>
    insert into article (id, title, author, 
      time, state, views, 
      cover_img1, cover_img2, cover_img3, 
      content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, #{views,jdbcType=INTEGER}, 
      #{coverImg1,jdbcType=VARCHAR}, #{coverImg2,jdbcType=VARCHAR}, #{coverImg3,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zeropoint.homemaking.domain.Article">
    update article
    set title = #{title,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      views = #{views,jdbcType=INTEGER},
      cover_img1 = #{coverImg1,jdbcType=VARCHAR},
      cover_img2 = #{coverImg2,jdbcType=VARCHAR},
      cover_img3 = #{coverImg3,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, title, author, time, state, views, cover_img1, cover_img2, cover_img3, 
    content
    from article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, title, author, time, state, views, cover_img1, cover_img2, cover_img3, 
    content
    from article
  </select>


  <delete id="deleteByPrimaryKey1" parameterType="java.lang.Integer">
    delete from article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert1" parameterType="com.zeropoint.homemaking.domain.Article">
    insert into article (id, title, author,
      time, state, views,
      cover_img1, cover_img2, cover_img3,
      content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR},
      #{time,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, #{views,jdbcType=INTEGER},
      #{coverImg1,jdbcType=VARCHAR}, #{coverImg2,jdbcType=VARCHAR}, #{coverImg3,jdbcType=VARCHAR},
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="update1" parameterType="com.zeropoint.homemaking.domain.Article">
    update article
    set title = #{title,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      views = #{views,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectKey1" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from article
    where id = #{id}
  </select>
  <select id="selectAll1" resultMap="BaseResultMap">
    select id, title, author, time, state, views, cover_img1, cover_img2, cover_img3,
    content
    from article
  </select>

  <select id="selectByCondition1" resultMap="BaseResultMap">
    select * from article
    <where>
      <if test="title != null and title != ''">
        title LIKE  '%${title}%'
      </if>
      <if test="author != null and author != '' ">
        and
        author = #{author}
      </if>
      <if test="state != null and state != '' ">
        and
        state = #{state}
      </if>
      <if test="startTime != null and startTime != '' and endTime != '' and endTime != null">
        and
        time between #{startTime} and #{endTime}
      </if>
    </where>
    limit #{page},#{rows}
  </select>

  <select id="count1" resultType="int">
    select count(1) from article
    <where>
      <if test="title != null and title != ''">
        title LIKE  '%${title}%'
      </if>
      <if test="author != null and author != '' ">
        and
        author = #{author}
      </if>
      <if test="state != null and state != '' ">
        and
        state = #{state}
      </if>
      <if test="startTime != null and startTime != '' and endTime != '' and endTime != null">
        and
        time between #{startTime} and #{endTime}
      </if>
    </where>
  </select>

  <delete id="delete1">
    delete from article
    where id in
    <foreach collection="ids" close=")" open="(" separator="," item="item" index="index">
      #{item}
    </foreach>
  </delete>

  <!--修改状态-->
  <update id="updatestate1" parameterType="java.lang.Integer">
    update article
    set state = #{state}
    where id = #{id}
  </update>
  <select id="findByTitle" >
    select * from article
    where title=#{title}
  </select>
</mapper>