<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeropoint.homemaking.dao.BrokerageSettingMapper">
  <resultMap id="BaseResultMap" type="com.zeropoint.homemaking.domain.BrokerageSetting">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="proportion" jdbcType="DOUBLE" property="proportion" />
  </resultMap>
  <insert id="insert" parameterType="com.zeropoint.homemaking.domain.BrokerageSetting">
    insert into brokerage_setting (id, role,level,status,proportion)
    values (#{id},#{role},#{level},#{status},#{proportion})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from brokerage_setting
  </select>

  <select id="selectByCondition" resultMap="BaseResultMap">
    select * from brokerage_setting
    limit #{page},#{rows}
  </select>

  <select id="count" resultType="int">
    SELECT  COUNT(1) FROM brokerage_setting
  </select>



  <select id="selectBrokerageSetting" parameterType="Map" resultMap="BaseResultMap">
    select *
    from brokerage_setting
  </select>

  <!--修改状态-->
  <update id="updatePro" parameterType="java.lang.Double">
    UPDATE brokerage_setting
        SET proportion = CASE id
            WHEN 1 THEN #{usera}
            WHEN 2 THEN #{userb}
            WHEN 10 THEN #{fee}
            WHEN 11 THEN #{balance}
        END
        WHERE id IN (1,2,10,11)
  </update>

</mapper>