<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeropoint.homemaking.dao.LectureMapper">
  <resultMap id="BaseResultMap" type="com.zeropoint.homemaking.domain.Lecture">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="course_site" jdbcType="VARCHAR" property="courseSite" />
    <result column="register_rule" jdbcType="VARCHAR" property="registerRule" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="current_count" jdbcType="INTEGER" property="currentCount" />
    <result column="max_count" jdbcType="INTEGER" property="maxCount" />
    <result column="register_start" jdbcType="TIMESTAMP" property="registerStart" />
    <result column="register_end" jdbcType="TIMESTAMP" property="registerEnd" />
    <result column="active_start" jdbcType="TIMESTAMP" property="activeStart" />
    <result column="active_end" jdbcType="TIMESTAMP" property="activeEnd" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lecture
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zeropoint.homemaking.domain.Lecture">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT last_insert_id()
    </selectKey>
    insert into lecture (id, name, picture_url, 
      detail, amount, course_site, 
      register_rule, status, current_count, 
      max_count, register_start, register_end, 
      active_start, active_end, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pictureUrl,jdbcType=VARCHAR}, 
      #{detail,jdbcType=VARCHAR}, #{amount,jdbcType=DOUBLE}, #{courseSite,jdbcType=VARCHAR}, 
      #{registerRule,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{currentCount,jdbcType=INTEGER}, 
      #{maxCount,jdbcType=INTEGER}, #{registerStart,jdbcType=TIMESTAMP}, #{registerEnd,jdbcType=TIMESTAMP}, 
      #{activeStart,jdbcType=TIMESTAMP}, #{activeEnd,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zeropoint.homemaking.domain.Lecture">
    update lecture
    set name = #{name,jdbcType=VARCHAR},
      picture_url = #{pictureUrl,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DOUBLE},
      course_site = #{courseSite,jdbcType=VARCHAR},
      register_rule = #{registerRule,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      current_count = #{currentCount,jdbcType=INTEGER},
      max_count = #{maxCount,jdbcType=INTEGER},
      register_start = #{registerStart,jdbcType=TIMESTAMP},
      register_end = #{registerEnd,jdbcType=TIMESTAMP},
      active_start = #{activeStart,jdbcType=TIMESTAMP},
      active_end = #{activeEnd,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, picture_url, detail, amount, course_site, register_rule, status, 
    current_count, max_count, register_start, register_end, active_start, active_end, 
    create_time
    from lecture
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, picture_url, detail, amount, course_site, register_rule, status, 
    current_count, max_count, register_start, register_end, active_start, active_end, 
    create_time
    from lecture
  </select>

  <insert id="insert1" parameterType="com.zeropoint.homemaking.domain.Lecture">
    insert into lecture (id, name, picture_url,
      detail, amount, course_site,
      register_rule, status, current_count,
      max_count, register_start, register_end,
      active_start, active_end, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pictureUrl,jdbcType=VARCHAR},
      #{detail,jdbcType=VARCHAR}, #{amount,jdbcType=DOUBLE}, #{courseSite,jdbcType=VARCHAR},
      #{registerRule,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{currentCount,jdbcType=INTEGER},
      #{maxCount,jdbcType=INTEGER}, #{registerStart,jdbcType=TIMESTAMP}, #{registerEnd,jdbcType=TIMESTAMP},
      #{activeStart,jdbcType=TIMESTAMP}, #{activeEnd,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey1" parameterType="com.zeropoint.homemaking.domain.Lecture">
    update lecture
    set name = #{name,jdbcType=VARCHAR},
      picture_url = #{pictureUrl,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DOUBLE},
      course_site = #{courseSite,jdbcType=VARCHAR},
      register_rule = #{registerRule,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      current_count = #{currentCount,jdbcType=INTEGER},
      max_count = #{maxCount,jdbcType=INTEGER},
      register_start = #{registerStart,jdbcType=TIMESTAMP},
      register_end = #{registerEnd,jdbcType=TIMESTAMP},
      active_start = #{activeStart,jdbcType=TIMESTAMP},
      active_end = #{activeEnd,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey1" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, picture_url, detail, amount, course_site, register_rule, status,
    current_count, max_count, register_start, register_end, active_start, active_end,
    create_time
    from lecture
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll1" resultMap="BaseResultMap">
    select id, name, picture_url, detail, amount, course_site, register_rule, status,
    current_count, max_count, register_start, register_end, active_start, active_end,
    create_time
    from lecture
  </select>

  <select id="selectByCondition1" resultMap="BaseResultMap">
    select * from lecture
    <where>
      <if test="name != null and name != ''">
        name LIKE  '%${name}%'
      </if>
      <if test="status != null and status != '' ">
        and
        status = #{status}
      </if>
      <if test="startTime != null and startTime != '' and endTime != '' and endTime != null">
        and
        register_time between #{startTime} and #{endTime}
      </if>
    </where>
    limit #{page},#{rows}
  </select>

  <select id="count1" resultType="int">
    select count(1) from lecture
    <where>
      <if test="name != null and name != ''">
        name LIKE  '%${name}%'
      </if>
      <if test="status != null and status != '' ">
        and
        status = #{status}
      </if>
      <if test="startTime != null and startTime != '' and endTime != '' and endTime != null">
        and
        register_time between #{startTime} and #{endTime}
      </if>
    </where>
  </select>

  <delete id="delete1">
    delete from lecture
    where id in
    <foreach collection="ids" close=")" open="(" separator="," item="item" index="index">
      #{item}
    </foreach>
  </delete>

  <!--修改状态-->
  <update id="updateStatus1" parameterType="java.lang.Integer">
    update lecture
    set status = #{status}
    where id = #{id}
  </update>
</mapper>