<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeropoint.homemaking.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.zeropoint.homemaking.domain.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="personnel_id" jdbcType="INTEGER" property="personnelId" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="requirement" jdbcType="VARCHAR" property="requirement" />
    <result column="hetong_imgsrc" jdbcType="VARCHAR" property="hetongImgsrc" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="hascomment" jdbcType="BIT" property="hascomment" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="money_hour" jdbcType="INTEGER" property="moneyHour" />
    <result column="money_bargin" jdbcType="DOUBLE" property="moneyBargin" />
    <result column="money_advance" jdbcType="DOUBLE" property="moneyAdvance" />
    <result column="money_final" jdbcType="DOUBLE" property="moneyFinal" />
    <result column="money_total" jdbcType="DOUBLE" property="moneyTotal" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="my_package_id" jdbcType="INTEGER" property="myPackageId" />
    <result column="require_age" jdbcType="VARCHAR" property="requireAge" />
    <result column="require_expirence" jdbcType="VARCHAR" property="requireExpirence" />
    <result column="work_start_time" jdbcType="TIMESTAMP" property="workStartTime" />
    <result column="work_end_time" jdbcType="TIMESTAMP" property="workEndTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="assign_ids" jdbcType="VARCHAR" property="assignIds" />
    <result column="appiont_date" jdbcType="TIMESTAMP" property="appiontDate" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="money_actual" jdbcType="DOUBLE" property="moneyActual" />
    <result column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="commsion_status" jdbcType="INTEGER" property="commsionStatus" />
    <result column="userNameOne" jdbcType="VARCHAR" property="userNameOne" />
    <result column="moneyOne" jdbcType="DOUBLE" property="moneyOne" />
    <result column="userNameTow" jdbcType="VARCHAR" property="userNameTow" />
    <result column="moneyTow" jdbcType="DOUBLE" property="moneyTow" />
    <result column="userIdOne" jdbcType="INTEGER" property="userIdOne" />
    <result column="userIdTow" jdbcType="INTEGER" property="userIdTow" />
    <result column="package_id" jdbcType="INTEGER" property="packageId" />
    <result column="current_count" jdbcType="INTEGER" property="currentCount" />
    <result column="total_count" jdbcType="INTEGER" property="totalCount" />
    <result column="specifications" jdbcType="VARCHAR" property="specifications" />
  </resultMap>
  <resultMap id="PersonneOrder" type="com.zeropoint.homemaking.vo.PersonnelOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_gender" jdbcType="INTEGER" property="userGender" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="requirement" jdbcType="VARCHAR" property="requirement" />
    <result column="hetong_imgsrc" jdbcType="VARCHAR" property="hetongImgsrc" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="hascomment" jdbcType="BIT" property="hascomment" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="money_actual" jdbcType="DOUBLE" property="moneyActual" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="work_start_time" jdbcType="TIMESTAMP" property="workStartTime" />
    <result column="work_end_time" jdbcType="TIMESTAMP" property="workEndTime" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
  </resultMap>
  <resultMap id="UserOrder" type="com.zeropoint.homemaking.vo.UserOder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="personnel_id" jdbcType="INTEGER" property="personnelId" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="requirement" jdbcType="VARCHAR" property="requirement" />
    <result column="hetong_imgsrc" jdbcType="VARCHAR" property="hetongImgsrc" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="hascomment" jdbcType="BIT" property="hascomment" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="money_hour" jdbcType="INTEGER" property="moneyHour" />
    <result column="money_bargin" jdbcType="DOUBLE" property="moneyBargin" />
    <result column="money_advance" jdbcType="DOUBLE" property="moneyAdvance" />
    <result column="money_final" jdbcType="DOUBLE" property="moneyFinal" />
    <result column="money_total" jdbcType="DOUBLE" property="moneyTotal" />
    <result column="personnel_name" jdbcType="VARCHAR" property="personnelName" />
    <result column="gender" jdbcType="INTEGER" property="personnelGender" />
    <result column="phone" jdbcType="VARCHAR" property="personnelPhone" />
    <result column="work_start_time" jdbcType="TIMESTAMP" property="workStartTime" />
    <result column="work_end_time" jdbcType="TIMESTAMP" property="workEndTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="assign_ids" jdbcType="VARCHAR" property="assignIds" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="require_age" jdbcType="VARCHAR" property="requireAge" />
    <result column="require_expirence" jdbcType="VARCHAR" property="requireExpirence" />
    <result column="appiont_date" jdbcType="TIMESTAMP" property="appiontDate" />
  </resultMap>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="UserOrder">
   select d.*,c.gender as gender,c.phone as phone,c.name as personnel_name from (select `order`.*,address.province,address.city,address.county,address.detail from `order`,address where `order`.user_id =#{userId} and `order`.address_id =address.id ) as d left outer join service_personnel as c
 on c.id=d.personnel_id

 </select>
  <select id="selectPersonnelOrderByPersonnelId" resultMap="PersonneOrder">
   select d.*,c.gender as user_gender,c.phone as user_phone from (select `order`.*,address.province,address.city,address.county,address.detail from `order`,address where `order`.personnel_id =#{personnelId} and `order`.address_id =address.id ) as d left outer join user as c
 on c.id=d.user_id
 </select>
  <select id="selectPersonOrderByOrderNumber" parameterType="java.lang.String" resultMap="PersonneOrder">
    select* from `order`,address
    where order_number=#{orderNumber,jdbcType=VARCHAR} and address.id =`order`.address_id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `order`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zeropoint.homemaking.domain.Order">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT last_insert_id()
    </selectKey>
    insert into `order` (id, title, type,
    user_phone, user_id, personnel_id,
    order_number, requirement, hetong_imgsrc,
    status, address, remark,
    hascomment, create_time, money_hour,
    money_bargin, money_advance, money_final,
    money_total, user_name, my_package_id,
    require_age, require_expirence, work_start_time,
    work_end_time, pay_time, address_id,
    assign_ids, appiont_date, native_place,
    money_actual, comment_id)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
    #{userPhone,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{personnelId,jdbcType=INTEGER},
    #{orderNumber,jdbcType=VARCHAR}, #{requirement,jdbcType=VARCHAR}, #{hetongImgsrc,jdbcType=VARCHAR},
    #{status,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
    #{hascomment,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{moneyHour,jdbcType=INTEGER},
    #{moneyBargin,jdbcType=DOUBLE}, #{moneyAdvance,jdbcType=DOUBLE}, #{moneyFinal,jdbcType=DOUBLE},
    #{moneyTotal,jdbcType=DOUBLE}, #{userName,jdbcType=VARCHAR}, #{myPackageId,jdbcType=INTEGER},
    #{requireAge,jdbcType=VARCHAR}, #{requireExpirence,jdbcType=VARCHAR}, #{workStartTime,jdbcType=TIMESTAMP},
    #{workEndTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, #{addressId,jdbcType=INTEGER},
    #{assignIds,jdbcType=VARCHAR}, #{appiontDate,jdbcType=TIMESTAMP}, #{nativePlace,jdbcType=VARCHAR},
    #{moneyActual,jdbcType=DOUBLE}, #{commentId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zeropoint.homemaking.domain.Order">
    update `order`
    set title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      personnel_id = #{personnelId,jdbcType=INTEGER},
      order_number = #{orderNumber,jdbcType=VARCHAR},
      requirement = #{requirement,jdbcType=VARCHAR},
      hetong_imgsrc = #{hetongImgsrc,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      hascomment = #{hascomment,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      money_hour = #{moneyHour,jdbcType=INTEGER},
      money_bargin = #{moneyBargin,jdbcType=DOUBLE},
      money_advance = #{moneyAdvance,jdbcType=DOUBLE},
      money_final = #{moneyFinal,jdbcType=DOUBLE},
      money_total = #{moneyTotal,jdbcType=DOUBLE},
      user_name = #{userName,jdbcType=VARCHAR},
      my_package_id = #{myPackageId,jdbcType=INTEGER},
      require_age = #{requireAge,jdbcType=VARCHAR},
      require_expirence = #{requireExpirence,jdbcType=VARCHAR},
      work_start_time = #{workStartTime,jdbcType=TIMESTAMP},
      work_end_time = #{workEndTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      address_id = #{addressId,jdbcType=INTEGER},
      assign_ids = #{assignIds,jdbcType=VARCHAR},
      appiont_date = #{appiontDate,jdbcType=TIMESTAMP},
      native_place = #{nativePlace,jdbcType=VARCHAR},
      money_actual = #{moneyActual,jdbcType=DOUBLE},
      comment_id = #{commentId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select `order`.*,address.province,address.city,address.county,address.detail
    from `order`,address
    where `order`.id = #{id,jdbcType=INTEGER} and address.id =address_id
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, title, type, user_phone, user_id, personnel_id, order_number, requirement, 
    hetong_imgsrc, status, address, remark, hascomment, create_time, money_hour, money_bargin, 
    money_advance, money_final, money_total, user_name, my_package_id, require_age,
    require_expirence, work_start_time, work_end_time, pay_time, address_id, assign_ids, 
    appiont_date, native_place, money_actual, comment_id
    from `order`
  </select>

  <select id="selectByPersonnelId" resultMap="BaseResultMap">
   select * from `order`
   where personnel_id =#{personnelId,jdbcType=INTEGER}
 </select>
  <select id="selectByOrderNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
    select* from `order`
    where order_number=#{orderNumber,jdbcType=VARCHAR}
  </select>

  <resultMap id="ServiceMap" type="com.zeropoint.homemaking.domain.ServicePersonnel">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="work_experience" jdbcType="INTEGER" property="workExperience" />
    <result column="work_content" jdbcType="VARCHAR" property="workContent" />
    <result column="work_type" jdbcType="INTEGER" property="workType" />
    <result column="work_city" jdbcType="VARCHAR" property="workCity" />
    <result column="level" jdbcType="CHAR" property="level" />
    <result column="charge_standard" jdbcType="INTEGER" property="chargeStandard" />
    <result column="applause_rate" jdbcType="DOUBLE" property="applauseRate" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
    <result column="stores_id" jdbcType="INTEGER" property="storesId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="program_code" jdbcType="VARCHAR" property="programCode" />
    <result column="upline" jdbcType="INTEGER" property="upline" />
    <result column="upupline" jdbcType="INTEGER" property="upupline" />
    <result column="creat_times" jdbcType="TIMESTAMP" property="creatTimes" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="balance" jdbcType="INTEGER" property="balance" />
    <result column="brokerage" jdbcType="INTEGER" property="brokerage" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="schedule" jdbcType="INTEGER" property="schedule" />
    <result column="myself" jdbcType="LONGVARCHAR" property="myself" />
    <result column="stores_name" jdbcType="LONGVARCHAR" property="storesName" />
  </resultMap>

  <resultMap id="PersonnelMap" type="com.zeropoint.homemaking.domain.ServicePersonnel">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="work_experience" jdbcType="INTEGER" property="workExperience" />
    <result column="work_content" jdbcType="VARCHAR" property="workContent" />
    <result column="work_type" jdbcType="INTEGER" property="workType" />
    <result column="work_city" jdbcType="VARCHAR" property="workCity" />
    <result column="level" jdbcType="CHAR" property="level" />
    <result column="charge_standard" jdbcType="INTEGER" property="chargeStandard" />
    <result column="applause_rate" jdbcType="DOUBLE" property="applauseRate" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
    <result column="stores_id" jdbcType="INTEGER" property="storesId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="program_code" jdbcType="VARCHAR" property="programCode" />
    <result column="upline" jdbcType="INTEGER" property="upline" />
    <result column="upupline" jdbcType="INTEGER" property="upupline" />
    <result column="creat_times" jdbcType="TIMESTAMP" property="creatTimes" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="balance" jdbcType="INTEGER" property="balance" />
    <result column="brokerage" jdbcType="INTEGER" property="brokerage" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="schedule" jdbcType="INTEGER" property="schedule" />
    <result column="myself" jdbcType="LONGVARCHAR" property="myself" />
    <result column="stores_name" jdbcType="LONGVARCHAR" property="storesName" />
  </resultMap>

  <select id="selectAll1" resultMap="BaseResultMap">
    SELECT r.*,u.*,a.*
    FROM `order` r
    INNER JOIN user u ON u.id=r.user_id
    INNER JOIN address a ON a.id=r.address_id
    <where>
      r.status in (1,2) and r.type in (1,2,6)
      <if test="name != null and name != ''">
        and r.user_name LIKE  '%${name}%'
      </if>
      <if test="type != null and type != '' ">
        and
        r.type = #{type}
      </if>
      <if test="startTime != null and startTime != '' and endTime != '' and endTime != null">
        and
        r.appiont_date between #{startTime} and #{endTime}
      </if>
    </where>
    limit #{page},#{rows}
  </select>

  <select id="selectOrder1" resultMap="BaseResultMap">
    SELECT r.*,u.*,a.*
    FROM `order` r
    INNER JOIN user u ON u.id=r.user_id
    INNER JOIN address a ON a.id=r.address_id
    <where>
      r.status in (3,4,5,6)
      <if test="name != null and name != ''">
        and r.user_name LIKE  '%${name}%'
      </if>
      <if test="type != null and type != '' ">
        and
        r.type = #{type}
      </if>
      <if test="status != null and status != '' ">
        and
        r.status = #{status}
      </if>
      <if test="startTime != null and startTime != '' and endTime != '' and endTime != null">
        and
        r.appiont_date between #{startTime} and #{endTime}
      </if>
    </where>
    limit #{page},#{rows}
  </select>

  <select id="countOrder1" resultType="int">
    SELECT count(1)
    FROM `order` r
    INNER JOIN user u ON u.id=r.user_id
    INNER JOIN address a ON a.id=r.address_id
    <where>
      r.status in (3,4,5,6)
      <if test="name != null and name != ''">
        and r.user_name LIKE  '%${name}%'
      </if>
      <if test="type != null and type != '' ">
        and
        r.type = #{type}
      </if>
      <if test="status != null and status != '' ">
        and
        r.status = #{status}
      </if>
      <if test="startTime != null and startTime != '' and endTime != '' and endTime != null">
        and
        r.appiont_date between #{startTime} and #{endTime}
      </if>
    </where>
  </select>

  <select id="serviceSelect1" resultType="int" resultMap="ServiceMap">
    SELECT *
    FROM service_personnel
    where status = '2'
    and work_type =#{workType}
  </select>


  <select id="count1" resultType="int">
    SELECT count(1)
    FROM `order` r
    INNER JOIN user u ON u.id=r.user_id
    INNER JOIN address a ON a.id=r.address_id
    <where>
      r.status in (1,2) and r.type in (1,2,6)
      <if test="name != null and name != ''">
        and r.user_name LIKE  '%${name}%'
      </if>
      <if test="type != null and type != '' ">
        and
        r.type = #{type}
      </if>
      <if test="startTime != null and startTime != '' and endTime != '' and endTime != null">
        and
        r.appiont_date between #{startTime} and #{endTime}
      </if>
    </where>
  </select>

  <delete id="delete1">
    delete from `order`
    where id in
    <foreach collection="ids" close=")" open="(" separator="," item="item" index="index">
      #{item}
    </foreach>
  </delete>

  <select id="selectKey1" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select r.*,u.*,a.*
    from `order` r
    INNER JOIN user u ON u.id=r.user_id
    INNER JOIN address a ON a.id=r.address_id
    where r.id = #{id,jdbcType=INTEGER}
  </select>

  <select id="personnelView1" parameterType="java.lang.Integer" resultMap="PersonnelMap">
    select s.*,c.*
    from service_personnel s
    inner join  stores c on  s.stores_id=c.stores_id
    where s.id = #{id}
  </select>


  <!--修改状态-->
  <update id="updatemoneyTotal">
    update `order`
    set hetong_imgsrc = #{hetongImgsrc},
        money_total = #{moneyTotal},
        status= #{status},
        work_start_time=#{startTime},
        assign_ids = #{assignIds},
        work_end_time=#{endTime},
        money_bargin=#{moneyBargin},
        money_advance=#{moneyAdvance},
        money_final=#{moneyFinal},
        money_actual=#{moneyActual}
    where id = #{id}
  </update>

  <!--修改状态-->
  <update id="update4">
    update `order`
    set assign_ids = #{assignIds},
    status=2
    where id = #{id}
  </update>


  <select id="commsionSelect" resultMap="BaseResultMap">
    select o.id,o.order_number,o.user_name,o.money_total,
    (select `name` from service_personnel where id=(select upline from service_personnel where id=u.id)) as userNameOne,
    (select upline from service_personnel where id=u.id) as userIdOne,
    (select proportion from brokerage_setting where `name`="一级分销")*(select money_total from `order` where order_number=o.order_number) as moneyOne,
    (select `name` from service_personnel where id=(select upupline from service_personnel where id=u.id)) as userNameTow,
    (select upupline from service_personnel where id=u.id) as userIdTow,
    (select proportion from brokerage_setting where `name`="二级分销")*(select money_total from `order` where order_number=o.order_number) as moneyTow,
    o.commsion_status
    from `order` o
    INNER JOIN service_personnel u ON o.personnel_id=u.id
    <where>
      o.`status`=6
    </where>
    limit #{page},#{rows}
  </select>

  <select id="commsionCount" resultType="int">
    select COUNT(1)
    from `order` o
    INNER JOIN service_personnel u ON o.personnel_id=u.id
    <where>
      o.`status`=6
    </where>
  </select>

  <update id="updatecomm">
    update `order`
    set commsion_status = #{commsionStatus}
    where id = #{id}
  </update>


  <select id="selectOrder3" resultMap="BaseResultMap">
    select *
    from `order` o
    INNER JOIN user_package u on o.userpackage_id=u.id
    INNER JOIN service_package p on p.id=u.package_id
    INNER JOIN `user` e ON e.id=o.user_id and e.id=u.user_id
    INNER JOIN address a ON a.id=o.address_id and a.user_id=o.user_id
    <where>
      <if test="name != null and name != ''">
        and o.user_name LIKE  '%${name}%'
      </if>
      <if test="startTime != null and startTime != '' and endTime != '' and endTime != null">
        and
        o.appiont_date between #{startTime} and #{endTime}
      </if>
    </where>
    limit #{page},#{rows}
  </select>

  <select id="countOrder3" resultType="int">
    select count(1)
    from `order` o
    INNER JOIN user_package u on o.userpackage_id=u.id
    INNER JOIN `user` e ON e.id=o.user_id and e.id=u.user_id
    INNER JOIN service_package p on p.id=u.package_id
    INNER JOIN address a ON a.id=o.address_id and a.user_id=o.user_id
    <where>
      <if test="name != null and name != ''">
        and o.user_name LIKE  '%${name}%'
      </if>
      <if test="startTime != null and startTime != '' and endTime != '' and endTime != null">
        and
        o.appiont_date between #{startTime} and #{endTime}
      </if>
    </where>
  </select>

  <select id="serviceSelect2" resultType="int" resultMap="ServiceMap">
    SELECT *
    FROM service_personnel
    where status = '2'
  </select>

</mapper>