<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeropoint.homemaking.dao.OrderStatusMapper">
  <resultMap id="BaseResultMap" type="com.zeropoint.homemaking.domain.OrderStatus">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="pay_money" jdbcType="DOUBLE" property="payMoney" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_status
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zeropoint.homemaking.domain.OrderStatus">
    insert into order_status (id, order_id, status, 
      pay_money, pay_time, order_number, 
      name)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{payMoney,jdbcType=DOUBLE}, #{payTime,jdbcType=TIMESTAMP}, #{orderNumber,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zeropoint.homemaking.domain.OrderStatus">
    update order_status
    set order_id = #{orderId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      pay_money = #{payMoney,jdbcType=DOUBLE},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      order_number = #{orderNumber,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, order_id, status, pay_money, pay_time, order_number, name
    from order_status
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_id, status, pay_money, pay_time, order_number, name
    from order_status
  </select>
  <select id="selectByOrderId" resultMap="BaseResultMap">
    select * from order_status
    where order_id=#{orderId}
  </select>
</mapper>