<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeropoint.homemaking.dao.ServiceClassificationMapper">
  <resultMap id="BaseResultMap" type="com.zeropoint.homemaking.domain.ServiceClassification">
    <id column="icon_id" jdbcType="INTEGER" property="iconId" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="service_name" jdbcType="VARCHAR" property="serviceName" />
    <result column="service_introduced" jdbcType="VARCHAR" property="serviceIntroduced" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from service_classification
    where icon_id = #{iconId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zeropoint.homemaking.domain.ServiceClassification">
    insert into service_classification (icon_id, icon, service_name, 
      service_introduced)
    values (#{iconId,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, #{serviceName,jdbcType=VARCHAR}, 
      #{serviceIntroduced,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zeropoint.homemaking.domain.ServiceClassification">
    update service_classification
    set icon = #{icon,jdbcType=VARCHAR},
      service_name = #{serviceName,jdbcType=VARCHAR},
      service_introduced = #{serviceIntroduced,jdbcType=VARCHAR}
    where icon_id = #{iconId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select icon_id, icon, service_name, service_introduced
    from service_classification
    where icon_id = #{iconId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select icon_id, icon, service_name, service_introduced
    from service_classification
  </select>
</mapper>