<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeropoint.homemaking.dao.ServicePersonnelMapper">
  <resultMap id="BaseResultMap" type="com.zeropoint.homemaking.domain.ServicePersonnel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="specialty_id" jdbcType="INTEGER" property="specialtyId" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="work_experience" jdbcType="INTEGER" property="workExperience" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="level" jdbcType="CHAR" property="level" />
    <result column="charge_standard" jdbcType="INTEGER" property="chargeStandard" />
    <result column="work_city" jdbcType="VARCHAR" property="workCity" />
    <result column="applause_rate" jdbcType="DOUBLE" property="applauseRate" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
    <result column="brokerage" jdbcType="INTEGER" property="brokerage" />
    <result column="stores_id" jdbcType="INTEGER" property="storesId" />
    <result column="stauts" jdbcType="VARCHAR" property="stauts" />
    <result column="program_code" jdbcType="VARCHAR" property="programCode" />
    <result column="upline" jdbcType="INTEGER" property="upline" />
    <result column="upupline" jdbcType="INTEGER" property="upupline" />
    <result column="certificate_id" jdbcType="INTEGER" property="certificateId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from service_personnel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zeropoint.homemaking.domain.ServicePersonnel">
    insert into service_personnel (id, name, password, 
      age, gender, phone, 
      specialty_id, native_place, work_experience, 
      category_id, level, charge_standard, 
      work_city, applause_rate, photo_url, 
      video_url, profile, brokerage, 
      stores_id, stauts, program_code, 
      upline, upupline, certificate_id
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{gender,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, 
      #{specialtyId,jdbcType=INTEGER}, #{nativePlace,jdbcType=VARCHAR}, #{workExperience,jdbcType=INTEGER}, 
      #{categoryId,jdbcType=INTEGER}, #{level,jdbcType=CHAR}, #{chargeStandard,jdbcType=INTEGER}, 
      #{workCity,jdbcType=VARCHAR}, #{applauseRate,jdbcType=DOUBLE}, #{photoUrl,jdbcType=VARCHAR}, 
      #{videoUrl,jdbcType=VARCHAR}, #{profile,jdbcType=VARCHAR}, #{brokerage,jdbcType=INTEGER}, 
      #{storesId,jdbcType=INTEGER}, #{stauts,jdbcType=VARCHAR}, #{programCode,jdbcType=VARCHAR}, 
      #{upline,jdbcType=INTEGER}, #{upupline,jdbcType=INTEGER}, #{certificateId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zeropoint.homemaking.domain.ServicePersonnel">
    update service_personnel
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      gender = #{gender,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      specialty_id = #{specialtyId,jdbcType=INTEGER},
      native_place = #{nativePlace,jdbcType=VARCHAR},
      work_experience = #{workExperience,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      level = #{level,jdbcType=CHAR},
      charge_standard = #{chargeStandard,jdbcType=INTEGER},
      work_city = #{workCity,jdbcType=VARCHAR},
      applause_rate = #{applauseRate,jdbcType=DOUBLE},
      photo_url = #{photoUrl,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      profile = #{profile,jdbcType=VARCHAR},
      brokerage = #{brokerage,jdbcType=INTEGER},
      stores_id = #{storesId,jdbcType=INTEGER},
      stauts = #{stauts,jdbcType=VARCHAR},
      program_code = #{programCode,jdbcType=VARCHAR},
      upline = #{upline,jdbcType=INTEGER},
      upupline = #{upupline,jdbcType=INTEGER},
      certificate_id = #{certificateId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, password, age, gender, phone, specialty_id, native_place, work_experience, 
    category_id, level, charge_standard, work_city, applause_rate, photo_url, video_url, 
    profile, brokerage, stores_id, stauts, program_code, upline, upupline, certificate_id
    from service_personnel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, password, age, gender, phone, specialty_id, native_place, work_experience, 
    category_id, level, charge_standard, work_city, applause_rate, photo_url, video_url, 
    profile, brokerage, stores_id, stauts, program_code, upline, upupline, certificate_id
    from service_personnel
  </select>
</mapper>