<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeropoint.homemaking.dao.StoresMapper">
  <resultMap id="BaseResultMap" type="com.zeropoint.homemaking.domain.Stores">
    <id column="stores_id" jdbcType="INTEGER" property="storesId" />
    <result column="stores_password" jdbcType="VARCHAR" property="storesPassword" />
    <result column="stores_name" jdbcType="VARCHAR" property="storesName" />
    <result column="stores_address" jdbcType="VARCHAR" property="storesAddress" />
    <result column="stores_introduced" jdbcType="VARCHAR" property="storesIntroduced" />
    <result column="sions_id" jdbcType="INTEGER" property="sionsId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stores
    where stores_id = #{storesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zeropoint.homemaking.domain.Stores">
    insert into stores (stores_id, stores_password, stores_name, 
      stores_address, stores_introduced, sions_id
      )
    values (#{storesId,jdbcType=INTEGER}, #{storesPassword,jdbcType=VARCHAR}, #{storesName,jdbcType=VARCHAR}, 
      #{storesAddress,jdbcType=VARCHAR}, #{storesIntroduced,jdbcType=VARCHAR}, #{sionsId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zeropoint.homemaking.domain.Stores">
    update stores
    set stores_password = #{storesPassword,jdbcType=VARCHAR},
      stores_name = #{storesName,jdbcType=VARCHAR},
      stores_address = #{storesAddress,jdbcType=VARCHAR},
      stores_introduced = #{storesIntroduced,jdbcType=VARCHAR},
      sions_id = #{sionsId,jdbcType=INTEGER}
    where stores_id = #{storesId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select stores_id, stores_password, stores_name, stores_address, stores_introduced, 
    sions_id
    from stores
    where stores_id = #{storesId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select stores_id, stores_password, stores_name, stores_address, stores_introduced, 
    sions_id
    from stores
  </select>
</mapper>