<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeropoint.homemaking.dao.UserRequirementMapper">
  <resultMap id="BaseResultMap" type="com.zeropoint.homemaking.domain.UserRequirement">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="appoint_date" jdbcType="TIMESTAMP" property="appointDate" />
    <result column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="requirements" jdbcType="VARCHAR" property="requirements" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="age_max" jdbcType="VARCHAR" property="ageMax" />
    <result column="age_min" jdbcType="VARCHAR" property="ageMin" />
    <result column="experience" jdbcType="VARCHAR" property="experience" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="assign_ids" jdbcType="VARCHAR" property="assignIds" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_requirement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zeropoint.homemaking.domain.UserRequirement">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT last_insert_id()
    </selectKey>
     insert into user_requirement (id, type, name,
      appoint_date, address_id, requirements, 
      remark, age_max, age_min, 
      experience, native_place, status, 
      user_id, assign_ids)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{appointDate,jdbcType=TIMESTAMP}, #{addressId,jdbcType=INTEGER}, #{requirements,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{ageMax,jdbcType=VARCHAR}, #{ageMin,jdbcType=VARCHAR}, 
      #{experience,jdbcType=VARCHAR}, #{nativePlace,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{assignIds,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zeropoint.homemaking.domain.UserRequirement">
    update user_requirement
    set type = #{type,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      appoint_date = #{appointDate,jdbcType=TIMESTAMP},
      address_id = #{addressId,jdbcType=INTEGER},
      requirements = #{requirements,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      age_max = #{ageMax,jdbcType=VARCHAR},
      age_min = #{ageMin,jdbcType=VARCHAR},
      experience = #{experience,jdbcType=VARCHAR},
      native_place = #{nativePlace,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      assign_ids = #{assignIds,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, type, name, appoint_date, address_id, requirements, remark, age_max, age_min, 
    experience, native_place, status, user_id, assign_ids
    from user_requirement
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, type, name, appoint_date, address_id, requirements, remark, age_max, age_min, 
    experience, native_place, status, user_id, assign_ids
    from user_requirement
  </select>

</mapper>